.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
p{
  font-size: 1.2rem;
}
#index-banner{
  min-height: 600px;
}
.main-sections{
  padding: 4.5rem 0;
}
.navbar-fixed{
  min-height: 120px;
}
.fa-4x{
  font-size: 2.7rem; 
  margin-right: 7px;
}
.footer-link, .fa-4x{
  transition: .3s;
}
.fa-4x:hover, .footer-link:hover{
  color: rgba(33, 149, 243, 0.479)!important;
}
.sidenav span{
  margin-left: 2rem;
}

@media only screen and (max-width: 601px) {
  .main-sections{
    padding: 0 0 .2rem;
  }
}
